**/.ipynb_checkpoints
**/.zip

/Classes/Week12/credentials.env
/Classes/Week12/genius_credentials.env
/Classes/Week12/key_api_OMDB.env
/Classes/Week12/key_api_SpotPy.env

/Labs/M02-L05-introduction_to_API/env/NYT_keys.env
/Labs/M02-L06-API_spotify/env/client_spotify.env